/*a { color: #2980b9;}*/
/*a:hover { color: #3498db;}*/

/*.js_enabled #cookie-message {*/
    /*display: none;*/
/*}*/

/*.test {}*/

/*.green-bg { background-color : #3FB34F;}*/
/*.green { background-color : #3FB34F;}*/

/*.page-header.navbar {height : 56px;}*/
/*.hor-menu .glyphicon { top : 12px;}*/
/*.page-header.navbar.dark-madison-bg { background : #1d1d1d;}*/

/*.widget a {color : white;}*/
/*.widget a:hover {text-decoration :underline;}*/
/*.note-editor .btn-toolbar{overflow : scroll;}*/
/*.inputCke { min-height : 250px;}*/
/*.center{text-align: center;}*/
/*.login-layout-full .brand img{width : 130px;}*/
/*.note-editor .btn-toolbar{overflow-x: auto;overflow-y: hidden }*/
/*.ui-autocomplete { z-index:2147483647;}*/
/*#errorsFormContainer { color : red;}*/
/*.center-block {*/
    /*margin-left: auto;*/
    /*margin-right : auto;*/
    /*display : block;*/
/*}*/
/*.layout-list ul li a::before {top : 0px;}*/
/*.layout-list ul li a {padding-top : 0px; padding-bottom : 0px;}*/
/*.containerLoader { padding-top : 100px;padding-bottom : 100px;}*/
/*.theme-config-box { margin-right : -900px;}*/
/*.skin-setttings { width: 900px !important;}*/
/*.skin-setttings a {color : #676a6c;}*/
/*.list-widget a {color : #676a6c;}*/
/*.loaderDawap {*/
    /*border: 16px solid #f3f3f3;*/
    /*border-top: 16px solid #3498db;*/
    /*border-radius: 50% !important;*/
    /*width: 120px;*/
    /*height: 120px;*/
    /*animation: spin 2s linear infinite;*/
    /*margin-right : auto;*/
    /*margin-left : auto;*/
    /*display : block;*/
/*}*/

/*.label { font-size : 100%;}*/

/*.loaderDawapDev {*/
    /*border: 16px solid #bdc3c7;*/
    /*border-top: 16px solid #d35400;*/
    /*border-radius: 50% !important;*/
    /*width: 120px;*/
    /*height: 120px;*/
    /*animation: spin 2s linear infinite;*/
    /*margin-right : auto;*/
    /*margin-left : auto;*/
    /*display : block;*/
/*}*/

/*.formErrorInfo {*/
    /*margin-top : 10px;*/
    /*color : red;*/
    /*font-style: italic;*/
/*}*/

/*.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2.active {*/
    /*border-color : #27ae60;*/
/*}*/

/*.formOkInfo {*/
    /*margin-top : 10px;*/
    /*color : green;*/
    /*font-style: italic;*/
/*}*/

/*.cartTop {  }*/
/*.cartTop li.lignePanierTop {  padding-top : 10px; padding-bottom : 10px;}*/
/*.cartTop .media-body {  padding-right : 10px;}*/

/*@-webkit-keyframes spin {*/
    /*0% { -webkit-transform: rotate(0deg); }*/
    /*100% { -webkit-transform: rotate(360deg); }*/
/*}*/

/*@keyframes spin {*/
    /*0% { transform: rotate(0deg); }*/
    /*100% { transform: rotate(360deg); }*/
/*}*/

/*.filtresShop .layout-list {*/
    /*height: 200px;*/
    /*overflow-y : scroll;*/
/*}*/

/*.filtresShop .layout-list ul li.active a { font-weight: bold; color : black;}*/


/*.steps-form-2 {*/
    /*display: table;*/
    /*width: 100%;*/
    /*position: relative; }*/
/*.steps-form-2 .steps-row-2 {*/
    /*display: table-row; }*/
/*.steps-form-2 .steps-row-2:before {*/
    /*top: 14px;*/
    /*bottom: 0;*/
    /*position: absolute;*/
    /*content: " ";*/
    /*width: 100%;*/
    /*height: 2px;*/
    /*background-color: #7283a7; }*/
/*.steps-form-2 .steps-row-2 .steps-step-2 {*/
    /*display: table-cell;*/
    /*text-align: center;*/
    /*position: relative; }*/
/*.steps-form-2 .steps-row-2 .steps-step-2 p {*/
    /*margin-top: 0.5rem; }*/
/*.steps-form-2 .steps-row-2 .steps-step-2 button[disabled] {*/
    /*opacity: 1 !important;*/
    /*filter: alpha(opacity=100) !important; }*/
/*.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2 {*/
    /*width: 70px;*/
    /*height: 70px;*/
    /*border: 2px solid #59698D;*/
    /*background-color: white !important;*/
    /*color: #59698D !important;*/
    /*border-radius: 50% !important;*/
    /*padding: 22px 18px 15px 18px;*/
    /*margin-top: -22px; }*/
/*.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2:hover {*/
    /*border: 2px solid #4285F4;*/
    /*color: #4285F4 !important;*/
    /*background-color: white !important; }*/
/*.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2 .fa {*/
    /*font-size: 1.7rem;*/
/*}*/
/*.steps-form-2 .steps-row-2 .steps-step-2.active .btn-circle-2 .fa {*/
    /*color : #27ae60;*/
/*}*/


/*!******************** Modals *****************************!*/
/*#modalAjoutPanier #modalAjoutPanier_Container_Produit_Image { margin-bottom : 50px;}*/
/*#modalAjoutPanier #modalAjoutPanier_Container_Produit_Informations { margin-bottom : 50px;}*/

/*!******************* Datatables *****************************!*/
/*.tableProduitsFixed th {*/
/*}*/
/*.tableProduitsFixed td {*/
    /*vertical-align: middle !important;*/
/*}*/

/*.thDataTableFullAddPanier {display : none;}*/
/*.tdDataTableFullAddPanier {display:none;}*/
/*#btnConfirmDataTableFullAddPanier { display:none;}*/
/*.btnDownQteTableModalAjoutPanierMultiple { margin-right : 10px;}*/
/*.btnUpQteTableModalAjoutPanierMultiple { margin-left : 10px;}*/
/*!***************** Recherche ***********************!*/
/*#tabsRecherche .panel-body {*/
    /*min-height: 600px;*/
/*}*/

/*#containerRechercheMarques .ibox { width:  100%;}*/
/*.select2-container { width : 100% !important;}*/
/*@media (min-width: 992px) {*/
    /*.modal-lg {*/
        /*max-width: 80% !important;*/
    /*}*/
/*}*/
/*!***************** Top Livraison ***********************!*/
/*.topLivraison{*/
    /*text-align: center;*/
    /*height: 22px;*/
    /*background-color: #3FB34F;*/
    /*margin-bottom: 0px;*/
    /*color: white;*/
/*}*/




/*.controls li.filter {  float : none;}*/

/*.borderless>tbody>tr>td, .borderless>tbody>tr>th, .borderless>tfoot>tr>td, .borderless>tfoot>tr>th, .borderless>thead>tr>td, .borderless>thead>tr>th {*/
    /*border: none;*/
/*}*/

/*#google-content{margin:0 auto; width: 100%;display: block;  vertical-align: top;}*/
/*#google-content a:visited{color:#20C}*/
/*#google-content a,#google-content a:visited {color:#1e0fbe}*/
/*#google-content .gl a:visited{color:#77C}*/
/*#gcontainer{width:100%;margin:0 auto;background-color:#FFF}*/
/*#gborder{border:2px solid #666;width:100%;  margin: 5px 0 0;}*/
/*#gsr{width:90%;position:relative;background:#fff;color:#000;margin:0 10px}*/
/*#cnt{width:100%;padding-top:10px;clear:both;}*/
/*#center_col{clear:both}*/
/*#center_col,#foot{margin-left:0;margin-right:0;padding:0 5px}*/
/*#res{border:0;margin:0;padding:0px 0}*/
/*#ires{padding-top:1px}*/

/*#in_title{width:100%;color:#CCCCF5;border:1px solid #8080E6;font-size:medium; resize:vertical;}*/
/*#in_snippet{width:100%;color:#CCCCCC;border:1px solid #808080;font-size:small; resize:vertical;}*/
/*#in_url{width:100%;color:#CCE6CC;border:1px solid #80C080;font-size:small; float:left;resize:vertical;}*/

/*#titlechar,#snippetchar{display:block;margin:0;padding:0;color:#333}*/

/*h3,.med{font-size:medium;font-weight:normal;padding:0;margin:0}*/

/*#res h3.r {*/
    /*display: block;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /*width: 501px;   !*  LUNGIMEA TITLU  IMPORTANT *!*/
    /*color: #1e0fbe;*/
    /*font-size: 18px!important;*/
    /*line-height:1.2em;*/
    /*margin: 0 0 2px;*/
    /*text-transform: none;*/
    /*font-weight: normal;*/
/*}*/
/*#res h3.r a {*/
    /*text-decoration: none;*/
/*}*/
/*#res h3.r a:hover {*/
    /*text-decoration: underline !important;*/
/*}*/
/*.vsc {display: inline-block;position: relative;width: 100%;}*/

/*li.g, .f{width:600px;}  !*  LUNGIMEA DECRIERE  IMPORTANT *!*/
/*li.g{margin-top:0;margin-bottom:12px}*/

/*.f{margin-bottom:1px}.f cite{line-height:16px}*/
/*.mofo_snippet{*/
    /*color: #545454;*/
    /*line-height: 1.4;*/
    /*word-wrap: break-word;*/
/*}*/

/*.height-800 {*/
    /*height: 800px !important;*/
/*}*/
